version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_NAME=btp_tokens
  db:
    image: postgres:16-alpine
    container_name: btp_postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=btp_tokens
    volumes:
      # To prevent erasing data after continer restart
      - postgres_data:/var/lib/postgresql/data
      # To initial tables
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  postgres_data: